:root {
  --myfont: Poppins;
  --primary-color: rgb(30, 143, 177);
  --secondary-color: rgb(146, 212, 226);
}

body {
  font-family: var(--myfont);
  margin: 0;
  list-style-type: none;
}

.about-section {
  position: relative;
  background-color: var(--primary-color);
}

.navbar {
  display: flex;
  margin: auto 0;
  flex-direction: row;
  align-content: center;
  color: white;
}

.header {
  position: relative;
}

.logo img {
  display: inline-block;
  margin: 1em;
  width: 5em;
}

.navbar li {
  display: none;
  padding: 0.5em;
  margin: auto 0.1em;
  cursor: pointer;
}

.container {
  cursor: pointer;
  position: absolute;
  right: 2em;
  top: 2em;
  display: block;
  float: right;
}

.hidden-menu {
  position: absolute;
  display: none;
  top: 3.5em;
  width: 100%;
  background-color: white;
  opacity: 0.8;
  font-size: 1em;
  text-align: center;
  cursor: pointer;
}

.hidden-menu li {
  padding: 1em 0;
}

.bar1,
.bar2,
.bar3 {
  width: 2em;
  height: 0.5em;
  background-color: white;
  margin: 1px 0;
  transition: 0.4s;
}

.change .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

.change .bar1,
.change .bar2,
.change .bar3 {
  background-color: var(--secondary-color);
}

.about-content {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.about-text {
  margin: 1em;
  padding-bottom: 1em;
}

.about-text h1 {
  color: var(--secondary-color);
}

.about-text p {
  color: white;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 2em;
}

.grid-cell {
  display: block;
  width: 350px;
  height: 400px;
  box-shadow: 10px 10px var(--secondary-color);
  background-color: rgb(244, 244, 244);
  margin: 0 auto 2em auto;
}

.image-placeholder {
  width: 100%;
  height: 70%;
}

.image-placeholder img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.grid h2 {
  margin-left: 1em;
  color: var(--primary-color);
}

.Sherbime h1 {
  text-align: center;
}

@media (min-width: 40em) {
  .container {
    display: none;
  }
  .navbar li {
    display: inline-block;
  }
  .hidden-menu li {
    display: none;
  }

  .about-content {
    flex-direction: row;
  }

  .about-content img {
    width: 50%;
    height: max-content;
    margin: auto;
  }

  .about-text {
    width: 50%;
    margin: auto 1em;
  }
}
